/* Tu CSS existente */

body {
   background-image: url(/img/fondo\ pastel\ 3.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color:black;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

h1, h2, h4 {
   color: #252424; /* Texto rojo */
}

.menu-container {
   text-align: center;
   margin-bottom: 20px;
}

.menu {
   display: inline-block;
}

.menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.menu ul li {
   display: inline;
   margin-right: 20px;
}

.menu ul li a {
   text-decoration: none;
   color: #343a40; /* Texto oscuro */
}

.menu ul li a:hover {
   color: #e6e1e2; /* Texto rojo al pasar el mouse */
}

.MENU ul li a {
   color: #f0ecec; /* Texto rojo en el menú */
}

#titulo {
   color: #e9dfe0; /* Texto rojo en el título */
   text-align: center;
   margin-bottom: 20px;
}

#secArticulos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.card {
   width: 300px;
   background-color: #f8d7da; /* Tarjeta rosa */
   border-radius: 10px;
   margin: 20px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
   width: 100%;
   border-radius: 10px;
   margin-bottom: 10px;
}

.card h1 {
   color: #111010; /* Texto rojo en el título de la tarjeta */
   font-size: 1.5rem;
}

.card p {
   color: #343a40; /* Texto oscuro en la descripción */
}
