/* styles.css */

/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #E60076;
}

header h2 {
    font-size: 1.8em;
    color: #FF69B4;
}

header h3 {
    font-size: 1.5em;
    color: #FF91A4;
}

/* Estilos de navegación */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #DC143C;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #E30B5D;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #E60076;
    color: #fff;
    border-radius: 5px;
}

footer p {
    margin: 0;
}
